# Virtuelle Umgebungen von Python
.venv/
__pycache__/
*.py[cod]

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db


import_csv-sql_lite/csv/*
!import_csv-sql_lite/csv/.gitkeep

db/*
!db/.gitkeep

*.sqlite3

# CLI_finaz Datenbankdateien
CLI_finaz/db/finac.db
CLI_finaz/db/import_log.json
CLI_finaz/db/.~lock.*
CLI_finaz/db/accounts/*/finac.db
CLI_finaz/db/accounts/*/import_log.json
